@import url("https://fonts.googleapis.com/css?family=Jost");
html{
    
}
body{
    font-family: jost;
    background-image: url(Img/sfondo.jpg);
}
.div_err{
    margin: auto;
}
.h1_err{
    margin: auto;
}
#logo{
    height: 70px;
    display:block;
    width: auto;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}
#map{
    height: 400px ; 
    width: 100%;
}
#header{
    color:#e3c700;
    font-size: 28;
    text-align:center;
    height: 90px;
    width: 300px;
    margin-bottom:15px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}
#nome_marker{
    background-color: white;
    color:#003c50;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
footer{
    background-color: #e3c700;
    color:#003c50;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#descrizione_audio{
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
}

